body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.text-center {
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slim {
    background: #000000;
    width: 10px;
    height: 80px;
    margin-left: 40px;
}

.background {
    background: rgb(0, 0, 0);
    width: 95px;
    height: 270px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    border-radius: 10px;
}

.light {
    width: 60px;
    height: 60px;
    border: 1px solid black;
    border-radius: 100%;
    cursor: pointer;
}

.red {
    background: red;
}

.yellow {
    background: yellow;
}

.green {
    background: green;
}

.active {
    box-shadow: 0 0 10px 8px #fff,
        0 0 15px 10px rgb(219, 215, 219),
        0 0 15px 12px rgb(243, 245, 245);
}
